body{
    background-color: whitesmoke;
    padding: 40px;
}
body article{
    font-family: Verdana;
    font-size: 150%;
    text-align:center;
    padding: 150px;
    border: 10px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
}
body h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 400%;
    padding: 20px;
    background-color: whitesmoke;
}
button{
    background-color: black;
    color: white;
    font-size: 35px;
    font-family:sans-serif ;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}
button:hover{
    background-color: gray;
}